obj
bin
packages/*
packages/PostSharp.*/*
packages/PostSharp.*/tools/*
_ReSharper.*
*.csproj.user
*.resharper
*.resharper.user
*.suo
*.cache
*.swp

!/packages/repositories.config
!packages/PostSharp*/
!packages/PostSharp*/tools/
!packages/PostSharp*/tools/PostSharp.targets